* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 4em;
  font-family: 'vazirmatn';
  font-size: 1.25rem;
}

h2 {
  margin-top: 3rem;
}

p {
  line-height: 1.5;
}
img {
  max-width: 100%;
  margin: 2rem 0;
}

span {
  color: salmon;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.blog-content {
  margin-bottom: 4rem;
}

.blog-title {
  margin-bottom: 2em;
  border-bottom: 1px solid salmon;
}